/* resources/css/payment-methods.css */
.payment-drawwer {
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
    background: #f8f9fa;
    border: 1px solid #1e1e1e;
}

.payment-drawwer .header {
    padding: 12px 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: #2c2c2c;
    border-radius: 8px 8px 0 0; /* Tambahkan border radius */
    margin-bottom: 0;
}

.payment-drawwer .header .left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.payment-drawwer .header .left i {
    font-size: 1rem; /* Ukuran ikon */
}

.payment-drawwer .button-action-payment {
    background: white;
    max-height: 300px;
    overflow-y: auto;
}

.payment-item {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.2s;
    font-size: 0.95rem;
}

.payment-item:hover, 
.payment-item.active {
    background-color: #f1f8ff;
}

.payment-item .info-top {
    display: flex;
    align-items: center;
}

.payment-item img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 10px;
}

.short-payment-support-info {
    padding: 10px;
    text-align: center;
    background: #f1f1f1;
    cursor: pointer;
    border-top: 1px solid #ddd;
}

.short-payment-support-info img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    vertical-align: middle;
}

.payment-item .info-bottom {
    color: #1e293b; /* Warna teks lebih gelap */
    margin-top: 4px;
    font-size: 0.9rem;
}